html,
body{height: 100%;
    font-family:"Open Sans",sans-serif;
    color:coral;}
h1 {font-size: 70px;
    line-height:1;}

p {font-size:13px;
    color:black;
    line-height: 2;}
li {font-size:13px;
    color:black;
    line-height: 2;}
summary{font-size:14px;
    color:salmon;
    line-height: 3;}

img{max-width:100%;}
